/*
    General Css
*/


/* 
    Note: Faudrait leur expliquer l'utilité de vw et vh
    et pas oublier de leur fournir ce lien : https://developer.mozilla.org/en-US/docs/Web/CSS/length
*/
body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    padding: 1rem 4rem;
    flex-grow: 1;
}

/* 
    Note: Ils y a 3 elements dans le main. 2 article et un aside.
    La on vise l'element de gauche et l'element de droit.
    La sum de leur taile (20 + 20) est 40vw. Qui laisse 60vw
    pour l'article au milieu qui contient le jeu du serpent.
*/
main > article, main > aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
}

/*
    Note: On vise element au milieu (l'article pour le serpent)
    et on lui dit de donc prendre le reste de la taille disponible
    qui est 60vw.
*/
main > article:nth-child(2) {
    justify-self: center;
    flex-grow: 1;
}

main > article:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body > header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #2e1424;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 0 10px black;
    color: white;
}

body > header > span {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

body > header > span > img {
    height: 64px;
    width: auto;
}

table {
    margin: auto;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h2 {
    text-align: center;
}

/* 
    Button classes
*/

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-group .button {
    margin: 1rem;
}

.button {
    background-color: #FFAD00;
    border: 0;
    cursor: pointer;
    border-radius: 2rem;
}

.button.controls {
    height: 6rem;
    width: 6rem;
    box-shadow: 0 0 5px #FFAD00;
    font-size: x-large;
}

.button:hover {
    background-color: #E0E722;
    box-shadow: 0 0 40px #E0E722;
}

/* 
    Form
*/

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form > * {
    margin-left: 1rem;
}

form > input {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

form > .button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/*
    Snake Game Css
*/

#snake-game {
    display: flex;
    background-color: #2e1424;
    flex-wrap: wrap;
    /* 
        Note: On fixe la largeur de la liste, pour calculer la taille exacte
        de chaque element de la liste pour s'assurer que seul 10 elements
        par rang peuvent se mettre (10x10).

        Il faudrait leur fournir cette taille pour voir s'ils arrivent a
        retrouver la taille de l'element
    */
    width: 44vw;
    padding-left: 0;
    list-style-type: none;
    box-shadow: 0 0 20px black;
    /* permet de centrer la liste dans l'article */
    margin: auto;
}

#snake-game > * {
    width: 4vw;
    height: 4vw;
    margin: 0.2vw;
}

#snake-game .snake {
    background-color: #eb0450;
}

#snake-game .snake.head {
    border-radius: 0 50% 50% 0;
    position: relative;
    z-index: 10;
}

#snake-game .snake.tail {
    border-radius: 80% 0 0 80%;
}

#snake-game .food {
    background-color: #f547c3;
    border-radius: 50%;
    box-shadow: 0 0 10px #f547c3;

}

#snake-game .snake.head .eye {
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
}

#snake-game .snake.head .eye:first-child {
    top: 25%;
    right: 25%;
}

#snake-game .snake.head .eye:nth-child(2) {
    bottom: 25%;
    right: 25%;
}

#snake-game .snake.head .tongue {
    position: absolute;
    /* 
        Note: Faudrait leur fournir le "bottom", sinon ils ne pourrons pas trouver
        le centre exacte eu meme.
    */
    bottom: calc(4vw - 50% - 0.25rem);
    right: -1rem;
    width: 1rem;
    height: 0.5rem;
    background-color: #44D62C;
}

/*
    Note: Faut fournir ces 4 classes.
*/
.direction-north {
    transform: rotate(90deg);
}

.direction-east {
    transform: rotate(0);
}

.direction-south {
    transform: rotate(270deg);
}

.direction-west {
    transform: rotate(180deg);
}

/*
    Footer
*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2e1424;
    color: white;
    font-size: 0.7rem;
    box-shadow: 0 0 10px black;
}

/* Faut repriser la couleur blanc ici, sinon il ne va pas s'appliquer sur le 'a' */
footer a {
    color: white;
}

footer li {
    font-size: 0.6rem;
    margin-bottom: 0.2rem;
}

footer > section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

footer > address {
    background-color: #eb0450;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    color: black;
    font-size: 0.5rem;
}